.app {
  width: 900px;
  margin: 0 auto;
}
.title {
  text-align: center;
}
.table {
  border-collapse: collapse;
}
.table thead tr th, .table thead tr td {
  border: 1px solid;
  width: 150px;
  padding: 10px;
  text-align: center;
}
.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.controls button {
  padding: 10px 20px;
  background-color: lightblue;
  border: none;
}