
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

table {
  margin: 10px 0;
  width: 80%;
}

.hire-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}