.header_custom{
  text-align: center;
}

th{
  border: 1px solid #ddd !important;
  padding: 4px !important;
}

td{
  border: 1px solid #ddd !important;
  padding: 4px !important;
}

.button-container{
    margin: auto;
    display: inline-block;
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    padding: 6px 12px;
}